@font-face
{
    font-family: Degular-Display-Bold;
    src: url(../fonts/DegularDisplayDemo-Bold.otf);
}
@font-face
{
    font-family: Degular-Display-Semibold;
    src: url(../fonts/DegularDisplayDemo-Semibold.otf);
}
@font-face
{
    font-family: Degular-Mono-Bold;
    src: url(../fonts/DegularMonoDemo-Bold.otf);
}
@font-face
{
    font-family: Degular-Mono-Semibold;
    src: url(../fonts/DegularMonoDemo-Semibold.otf);
}
@font-face
{
    font-family: Degular-Text-Bold;
    src: url(../fonts/DegularTextDemo-Bold.otf);
}
@font-face
{
    font-family: Degular-Text-Semibold;
    src: url(../fonts/DegularTextDemo-Semibold.otf);
}
@font-face
{
    font-family: D-Din-Bold;
    src: url(../fonts/D-DIN-Bold.otf);
}
* 
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: Degular-Display-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: Degular-Display-Semibold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: Degular-Text-Bold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: Degular-Mono-Semibold, sans-serif;
    font-style: normal;
}
a
{
    font-family: Degular-Display-Bold, sans-serif;
    font-style: normal;
}
p
{
    font-family: Degular-Text-Semibold, sans-serif;
    font-style: normal;
}

/*Header*/

/*Footer*/
.footer-overlay
{
    background: linear-gradient(to top, #000000BF 0%, #00000000 100%);
    background-blend-mode: multiply;
    width: 100%;
    height: 3rem;
    z-index: 9999;
}
.footer
{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}
.footer h2
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.2rem;
}
.footer a
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
    text-decoration: underline;
    color: #000000;
    font-size: 1.2rem;
}
.footer a:hover 
{
    font-size: 1.2rem;
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}

/*-----------------
   RESPONSIVNESS
-----------------*/

/*Responsive Navigation*/
@media (max-width: 000px)
{
}

/*Responsive Footer*/
@media (max-width: 800px)
{
    .footer h2
    {
        font-size: 1rem;
    }
    .footer a
    {
        font-size: 1rem;
    }
    .footer a:hover
    {
        font-size: 1rem;
    }
}
@media (max-width: 675px)
{
    .footer h2
    {
        font-size: 0.8rem;
    }
    .footer a
    {
        font-size: 0.8rem;
    }
    .footer a:hover
    {
        font-size: 0.8rem;
    }
    .footer a:hover
    {
        -webkit-text-stroke: 0.75px #DD1212;
        -moz-text-stroke: 0.75px #DD1212;
    }
}
@media (max-width: 550px)
{
    .footer 
    {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}